$mobile-screen: 479px;
$tablet-screen: 970px;
$web-screen: 1024px;
$Logo-font: 'Orbitron', sans-serif;
$Logo-color: #B3A9A6;


nav {
    position: sticky;
    top: 0;
    z-index: 6;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.brand-container {
    width: 25%;
    text-align: center;
    font-family: $Logo-font;
    color: $Logo-color;

    .brand {
        font-size: 3.75rem;
        font-weight: bold;
    }
}

.hamburger-container {
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-right: 5%;

    @media screen and (min-width: $tablet-screen) {
        display: none;
    }

    .menu {
        color: #7C7A7A;
        font-size: 2rem;
    }
    
}

.hero-container {
    background: lightgreen;
    height: 50vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
}
