@import url('https://fonts.googleapis.com/css?family=Montserrat|Orbitron|Raleway&display=swap');
@import './App.scss';

*, *::after, *::before {
    box-sizing: content-box;
    margin-top: 0;
    font-size: 16px;
}

body, html {
    margin: 0;
    position: relative;
}