@import url('https://fonts.googleapis.com/css?family=Montserrat|Orbitron|Raleway&display=swap');
@import './App.scss';
@import './Nav.scss';
@import './Home.scss';
@import './Section.scss';
@import './Icons.scss';
@import './Footer.scss';

*, *::after, *::before {
    box-sizing: content-box;
    margin-top: 0;
    font-size: 16px;
}

body, html {
    margin: 0;
    position: relative;
}